body {
  font-family: "Oswald", sans-serif;
}
h1 {
  padding-top: 20px;
  color: #0c151c;
  font-size: 40px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  font-size: 18px;
  font-weight: 300px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.wrapper {
  padding-top: 50px;
  max-width: 650px;
  margin: 30px auto;
}

.weather-app-card {
  background-image: url("../Images/backgroung_img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;

  border: 10px solid whitesmoke;
  box-shadow: black;
  border-radius: 28px;
}
.city {
  padding-top: 50px;
  color: black;
}
.country {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: blue;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

#temperature {
  color: #0c151c;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}

.form-control {
  max-width: 320px;
  margin: 0;
  padding: 20;
  border-color: gray;
}

button {
  border-style: outset;
  border-image: initial;
  background-color: #2fd2f2;
  transition: all 200ms ease;
  cursor: pointer;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 18px;
  font-weight: 400;
  color: #0c151c;
}
.temperature-max {
  font-size: 18px;
  font-weight: 600;
  color: #4ac5c5;
}
.temperature-min {
  font-size: 18px;
  font-weight: 400;
  color: #666464;
}

footer {
  font-size: 18px;
  text-align: center;
}
